/.bundle
/vendor/bundle
/vendor/cache/*
!/vendor/cache/.keep
/log/*
!/log/.keep
/tmp
/.ruby-version
/.rbenv-version
/config/domains.json
/config/schemas.json
/config/abilities.json
.byebug_history
db/*.sqlite3

# Don't commit the master.key
/config/master.key
